<div class="form-group">
  <div class="form-group">
    <%= f.label :name, t('views.pins.enterprise_name'), class: 'required' %>
    <%= f.text_field :name, required: true, autofocus: true, class: 'form-control' %>
  </div>

  <%= f.hidden_field :type %>

  <%= f.hidden_field :enterprise_types, class: 'js-enterprise-type-input' %>

  <div class="form-group">
    <label for="store_enterprise_type" class="required"><%= t('views.pins.enterprise_type') %></label>
    <select id="store_enterprise_type" class="custom-select js-enterprise-type-list" required multiple>
      <optgroup label="<%= t('views.pins.tourism') %>">
        <option value="photo_tourism"><%= t('views.pins.photo_tourism') %></option>
        <option value="hunting_tourism"><%= t('views.pins.hunting_tourism') %></option>
      </optgroup>
      <optgroup label="<%= t('views.pins.accomodation') %>">
        <option value="accommodation_hotel"><%= t('views.pins.accommodation_hotel') %></option>
        <option value="accommodation_lodge"><%= t('views.pins.accommodation_lodge') %></option>
        <option value="accommodation_camping_site"><%= t('views.pins.accommodation_camping_site') %></option>
        <option value="accommodation_guesthouse"><%= t('views.pins.accommodation_guesthouse') %></option>
        <option value="accommodation_other"><%= t('views.pins.accommodation_other') %></option>
      </optgroup>
      <optgroup label="<%= t('views.shared.other') %>">
        <option value="other"><%= t('views.shared.other') %></option>
      </optgroup>
    </select>
  </div>

  <div class="form-group js-enterprise-type-free-input-group" hidden>
    <label for="store_enterprise_type_other" class="required"><%= t('views.pins.enterprise_type_other') %></label>
    <input type="text" id="store_enterprise_type_other" class="form-control js-enterprise-type-free-input" required />
  </div>

  <%= f.hidden_field :ownership, class: 'js-ownership-input' %>

  <div class="form-group">
    <label for="store_ownership"><%= t('views.pins.ownership') %></label>
    <select id="store_ownership" class="custom-select js-ownership-list">
      <option value="private"><%= t('views.pins.private') %></option>
      <option value="protected_area"><%= t('views.pins.protected_area') %></option>
      <option value="community_group"><%= t('views.pins.community_group') %></option>
      <option value="other"><%= t('views.shared.other') %></option>
    </select>
  </div>

  <div class="form-group js-ownership-free-input-group" hidden>
    <label for="store_ownership_other"><%= t('views.pins.ownership_other') %></label>
    <input type="text" id="store_ownership_other" class="form-control js-ownership-free-input" />
  </div>

  <div class="form-group">
    <%= f.label :latitude, class: 'required' %>
    <%= f.number_field :latitude, required: true, min: -90, max: 90, step: 0.0001, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :longitude, class: 'required' %>
    <%= f.number_field :longitude, required: true, min: -180, max: 180, step: 0.0001, class: 'form-control' %>
  </div>

  <% if (action?('editing') && @pin.related_store_id.nil?) || action?('creating') %>
  <div class="form-group mt-4">
    <div class="custom-control custom-checkbox">
      <%= f.check_box :user_is_owner, class: 'custom-control-input' %>
      <%= f.label :user_is_owner, t('views.pins.i_am_enterprise_owner'), class: 'custom-control-label' %>
    </div>
  </div>

  <div class="form-group mt-4">
    <%= f.label :owner_details, t('views.pins.owner_recommendation') %>
    <%= f.text_area :owner_details, class: 'form-control' %>
  </div>
  <% end %>
</div>