<div class="form-group">
  <%= f.label :name, t('views.pins.community_name'), class: 'required' %>
  <%= f.text_field :name, { required: true, disabled: action_name == 'show', autofocus: true, class: 'form-control' }.merge(conditional_attributes(has_previous_value?(:name), { 'aria-describedby': 'name_related_pin' })) %>
  <% if has_previous_value?(:name) %>
  <div id="name_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= @related_store.name %></strong>
  </div>
  <% end%>
</div>

<%= f.hidden_field :type, class: 'js-type-input' %>

<div class="form-group">
  <%= f.label :website %>
  <%= f.url_field :website, { disabled: action_name == 'show', class: 'form-control', 'aria-describedby': 'website_note' }.merge(conditional_attributes(has_previous_value?(:website), { 'aria-describedby': 'website_note website_related_pin' })) %>
  <div id="website_note" class="form-text font-s">
    <%== t('views.shared.url_must_start_with_http') %>
  </div>
  <% if has_previous_value?(:website) %>
  <div id="website_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= @related_store.website %></strong>
  </div>
  <% end%>
</div>

<div class="form-group">
  <%= f.label :latitude, class: 'required' %>
  <%= f.number_field :latitude, { required: true, disabled: action_name == 'show', min: -90, max: 90, step: 0.0001, class: 'form-control js-latitude-input' }.merge(conditional_attributes(has_previous_value?(:latitude), { 'aria-describedby': 'latitude_related_pin' })) %>
  <% if has_previous_value?(:latitude) %>
  <div id="latitude_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= @related_store.latitude %></strong>
  </div>
  <% end%>
</div>

<div class="form-group">
  <%= f.label :longitude, class: 'required' %>
  <%= f.number_field :longitude, { required: true, disabled: action_name == 'show', min: -180, max: 180, step: 0.0001, class: 'form-control js-longitude-input' }.merge(conditional_attributes(has_previous_value?(:longitude), { 'aria-describedby': 'longitude_related_pin' })) %>
  <% if has_previous_value?(:longitude) %>
  <div id="longitude_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= @related_store.longitude %></strong>
  </div>
  <% end%>
</div>

<div class="form-group">
  <% if !@related_store.nil? %>
  <input type="hidden" value="<%= @related_store.latitude %>" class="js-previous-latitude-input" />
  <input type="hidden" value="<%= @related_store.longitude %>" class="js-previous-longitude-input" />
  <% end %>
  <div id="map" class="c-map-field cursor-community js-map-field"></div>
  <p class="mb-0 form-text font-s">
    <% if action_name != 'show' %>
    <%= t('views.shared.click_map_to_update') %>
    <% else %>
    <% if !@related_store.nil? %>
    <%= t('views.admin.stores.previous_location_pin_color') %>
    <% end %>
    <% end %>
  </p>
</div>

<div class="form-group">
  <%= f.label :population_size, t('views.pins.population_size') %>
  <%= f.select :population_size, Community.population_sizes.map { |key, value| [key.humanize, key] }, {}, { disabled: action_name == 'show', class: 'custom-select' }.merge(conditional_attributes(has_previous_value?(:population_size), { 'aria-describedby': 'population_size_related_pin' })) %>
  <% if has_previous_value?(:population_size) %>
  <div id="population_size_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= @related_store.population_size %></strong>
  </div>
  <% end%>
</div>

<% if (@store.related_store_id.nil?) %>
<div class="form-group mt-4">
  <div class="custom-control custom-checkbox">
    <%= f.check_box :user_is_owner, disabled: action_name == 'show', class: 'custom-control-input' %>
    <%= f.label :user_is_owner, t('views.pins.i_am_community_spokesperson'), class: 'custom-control-label' %>
  </div>
</div>

<div class="form-group mt-4">
  <%= f.label :owner_details, t('views.pins.spokesperson_recommendation') %>
  <%= f.text_area :owner_details, disabled: action_name == 'show', class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :farming_reliance, t('views.pins.reliance_on_farming') %>
  <%= f.select :farming_reliance, Community.farming_reliances.map { |key, value| [key[2..-1].humanize, key] }, {}, disabled: action_name == 'show', class: 'custom-select' %>
</div>

<div class="form-group">
  <%= f.label :wildlife_reliance, t('views.pins.reliance_on_wildlife') %>
  <%= f.select :wildlife_reliance, Community.wildlife_reliances.map { |key, value| [key[2..-1].humanize, key] }, {}, disabled: action_name == 'show', class: 'custom-select' %>
</div>
<% end %>