<div class="form-group">
  <%= f.label :name, t('views.pins.enterprise_name'), class: 'required' %>
  <%= f.text_field :name, { required: true, autofocus: true, disabled: action_name == 'show', class: 'form-control' }.merge(conditional_attributes(has_previous_value?(:name), { 'aria-describedby': 'name_related_pin' })) %>
  <% if has_previous_value?(:name) %>
  <div id="name_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= @related_store.name %></strong>
  </div>
  <% end%>
</div>

<%= f.hidden_field :type, class: 'js-type-input' %>

<%= f.hidden_field :enterprise_types, class: 'js-enterprise-type-input' %>

<div class="form-group">
  <label for="store_enterprise_type" class="required"><%= t('views.pins.enterprise_type') %></label>
  <select id="store_enterprise_type" class="custom-select js-enterprise-type-list" required <%= action_name == 'show' ? 'disabled' : '' %> <% if has_previous_value?(:enterprise_types) %>aria-describedby="enterprise_type_related_pin" <% end %> multiple>
    <optgroup label="<%= t('views.pins.tourism') %>">
      <option value="photo_tourism"><%= t('activerecord.enums.store.enterprise_types.photo_tourism') %></option>
      <option value="hunting_tourism"><%= t('activerecord.enums.store.enterprise_types.hunting_tourism') %></option>
    </optgroup>
    <optgroup label="<%= t('views.pins.accomodation') %>">
      <option value="accommodation_hotel"><%= t('activerecord.enums.store.enterprise_types.accommodation_hotel') %></option>
      <option value="accommodation_lodge"><%= t('activerecord.enums.store.enterprise_types.accommodation_lodge') %></option>
      <option value="accommodation_camping_site"><%= t('activerecord.enums.store.enterprise_types.accommodation_camping_site') %></option>
      <option value="accommodation_guesthouse"><%= t('activerecord.enums.store.enterprise_types.accommodation_guesthouse') %></option>
      <option value="accommodation_other"><%= t('activerecord.enums.store.enterprise_types.accommodation_other') %></option>
    </optgroup>
    <optgroup label="<%= t('views.shared.other') %>">
      <option value="other"><%= t('activerecord.enums.store.enterprise_types.other') %></option>
    </optgroup>
  </select>
  <% if has_previous_value?(:enterprise_types) %>
  <div id="enterprise_type_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= @related_store.enterprise_types.split(',').map { |value| enum_i18n(Store, :enterprise_type, value, value) }.join(', ') %></strong>
  </div>
  <% end%>
</div>

<div class="form-group js-enterprise-type-free-input-group" hidden>
  <label for="store_enterprise_type_other" class="required"><%= t('views.pins.enterprise_type_other') %></label>
  <input type="text" id="store_enterprise_type_other" class="form-control js-enterprise-type-free-input" required <%= action_name == 'show' ? 'disabled' : '' %> />
</div>

<%= f.hidden_field :ownership, class: 'js-ownership-input' %>

<div class="form-group">
  <label for="store_ownership"><%= t('views.pins.ownership') %></label>
  <select id="store_ownership" class="custom-select js-ownership-list" <%= action_name == 'show' ? 'disabled' : '' %> <% if has_previous_value?(:ownership) %>aria-describedby="ownership_related_pin" <% end %>>
    <option value="private"><%= t('activerecord.enums.store.ownerships.private') %></option>
    <option value="protected_area"><%= t('activerecord.enums.store.ownerships.protected_area') %></option>
    <option value="community_group"><%= t('activerecord.enums.store.ownerships.community_group') %></option>
    <option value="other"><%= t('activerecord.enums.store.ownerships.other') %></option>
  </select>
  <% if has_previous_value?(:ownership) %>
  <div id="ownership_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= enum_i18n(Store, :ownership, @related_store.ownership, @related_store.ownership) %></strong>
  </div>
  <% end%>
</div>

<div class="form-group js-ownership-free-input-group" hidden <%= action_name == 'show' ? 'disabled' : '' %>>
  <label for="store_ownership_other"><%= t('views.pins.ownership_other') %></label>
  <input type="text" id="store_ownership_other" class="form-control js-ownership-free-input" />
</div>

<div class="form-group">
  <%= f.label :latitude, class: 'required' %>
  <%= f.number_field :latitude, { required: true, disabled: action_name == 'show', min: -90, max: 90, step: 0.0001, class: 'form-control js-latitude-input' }.merge(conditional_attributes(has_previous_value?(:latitude), { 'aria-describedby': 'latitude_related_pin' })) %>
  <% if has_previous_value?(:latitude) %>
  <div id="latitude_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= @related_store.latitude %></strong>
  </div>
  <% end%>
</div>

<div class="form-group">
  <%= f.label :longitude, class: 'required' %>
  <%= f.number_field :longitude, { required: true, disabled: action_name == 'show', min: -180, max: 180, step: 0.0001, class: 'form-control js-longitude-input' }.merge(conditional_attributes(has_previous_value?(:longitude), { 'aria-describedby': 'longitude_related_pin' })) %>
  <% if has_previous_value?(:longitude) %>
  <div id="longitude_related_pin" class="form-text font-s">
    <%= t('views.admin.stores.previously') %>: <strong><%= @related_store.longitude %></strong>
  </div>
  <% end%>
</div>

<div class="form-group">
  <% if !@related_store.nil? %>
  <input type="hidden" value="<%= @related_store.latitude %>" class="js-previous-latitude-input" />
  <input type="hidden" value="<%= @related_store.longitude %>" class="js-previous-longitude-input" />
  <% end %>
  <div id="map" class="c-map-field cursor-enterprise js-map-field"></div>
  <p class="mb-0 form-text font-s">
    <% if action_name != 'show' %>
    <%= t('views.shared.click_map_to_update') %>
    <% else %>
    <% if !@related_store.nil? %>
    <%= t('views.admin.stores.previous_location_pin_color') %>
    <% end %>
    <% end %>
  </p>
</div>

<% if (@store.related_store_id.nil?) %>
<div class="form-group mt-4">
  <div class="custom-control custom-checkbox">
    <%= f.check_box :user_is_owner, disabled: action_name == 'show', class: 'custom-control-input' %>
    <%= f.label :user_is_owner, t('views.pins.i_am_enterprise_owner'), class: 'custom-control-label' %>
  </div>
</div>

<div class="form-group mt-4">
  <%= f.label :owner_details, t('views.pins.owner_recommendation') %>
  <%= f.text_area :owner_details, disabled: action_name == 'show', class: 'form-control' %>
</div>
<% end %>