<div class="row mt-4">
  <div class="col-md-12">
    <div class="alert alert-warning">
      <%= t('views.stores.form.info_deleting') %>
    </div>
    <%= form_with(model: store, url: admin_store_path(store), local: true) do |form| %>
    <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> impediram store de ser guardado:</h2>

      <ul>
        <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= form.label :state, class: "col-sm-4 col-form-label" %>
        <% if can? :manage_state, Store %>
        <%= form.select :state, enum_options_for_select(Store, :state), {}, class: "form-control" %>
        <% else %>
        <span class="form-control"><%= enum_l(form.object, :state) %></span>
        <% end %>
        <small class="form-text text-muted">
          <%= t('views.stores.form.help_state_html') %>
        </small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= form.label :name, class: "col-sm-4 col-form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group col-md-6">
        <%= form.label :store_type, class: "col-sm-8 col-form-label" %>
        <%= form.select :type, enum_options_for_select(Store, :type), {}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <%= form.label :latitude, class: "col-sm-4 col-form-label" %>
        <%= form.text_field :latitude, class: "form-control" %>
        <small class="form-text text-muted">
          <%= t('views.stores.form.help_coordinates') %>
        </small>
      </div>

      <div class="form-group col-md-6">
        <%= form.label :longitude, class: "col-sm-4 col-form-label" %>
        <%= form.text_field :longitude, class: "form-control" %>
        <small class="form-text text-muted">
          <%= t('views.stores.form.help_coordinates') %>
        </small>
      </div>
    </div>

    <div class="form-group">
      <%= form.submit t('views.shared.save'), class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>