<div class="font-s mb-3">
  <%= page_entries_info stores %>
</div>
<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th><%= Store.human_attribute_name(:name) %></th>
        <th><%= Store.human_attribute_name(:state) %></th>
        <th><%= Store.human_attribute_name(:created_by_id) %></th>
        <th><%= Store.human_attribute_name(:updated_by_id) %></th>
        <th><%= Store.human_attribute_name(:latitude) %></th>
        <th><%= Store.human_attribute_name(:longitude) %></th>
        <th><%= t('views.shared.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <% stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, admin_store_path(store) %></td>
        <td><%= enum_i18n(Store, :state, store.state) %></td>
        <td>
          <%= link_to(store.created_by.display_name, admin_user_path(store.created_by)) if store.created_by %>
        </td>
        <td>
          <%= link_to(store.updated_by.display_name, admin_user_path(store.updated_by)) if store.updated_by %>
        </td>
        <td><%= store.latitude&.round(3) %></td>
        <td><%= store.longitude&.round(3) %></td>
        <td>
          <% if store.state.eql? 'waiting_approval' %>
          <%= link_to t('views.shared.approve'), approve_admin_store_path(store), method: :put, class: 'btn btn-block btn-sm btn-black' %>
          <% elsif store.state.eql? 'to_replace' %>
          <%= link_to t('views.shared.approve'), approve_admin_store_path(store), method: :post, class: 'btn btn-block btn-sm btn-black' %>
          <% else %>
          <%= link_to t('views.shared.edit'), edit_admin_store_path(store), class: 'btn btn-block btn-sm btn-black' %>
          <% end %>

          <% if can? :destroy, store %>
          <%= link_to t('views.shared.delete'), admin_store_path(store, state: params[:state], search: params[:search], type: params[:type]), method: :delete, data: { confirm: t('views.shared.delete_confirmation') }, class: 'btn btn-block btn-sm btn-danger mt-2' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="c-table-pagination mt-3">
  <%= paginate stores %>
</div>