<% content_for :page_title, @store.name&.titleize %>

<div class="row mt-3">
  <div class="col-md-8">
    <span class="h2"><%= @store.name %></span>
  </div>
  <div class="col-md-4">
    <% if can? :edit, @store %>
      <%= link_to t('views.actions.edit'), edit_admin_store_path(@store),
        class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
    <% if can? :destroy, @store %>
      <%= link_to t('views.actions.destroy'), admin_store_path(@store),
        method: :delete, data: { confirm: t('views.actions.confirm_destroy') },
        class: 'btn btn-sm btn-outline-danger' %>
    <% end %>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <p>
          <strong><%= Store.human_attribute_name(:name) %>:</strong>
          <%= @store.name %>
        </p>
        <p>
          <strong><%= Store.human_attribute_name(:type) %>:</strong>
          <%= link_to enum_i18n(Store, :type, @store.type), admin_stores_path(type: @store.type) %>
        </p>
        <p>
        <strong><%= Store.human_attribute_name(:created_by) %>:</strong>
          <%= link_to(@store.created_by.display_name, admin_user_path(@store.created_by)) if @store.created_by %>
        </p>
        <p>
          <strong><%= Store.human_attribute_name(:updated_by) %>:</strong>
          <%= link_to(@store.updated_by.display_name, admin_user_path(@store.updated_by)) if @store.updated_by %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <p>
          <strong><%= t('views.stores.index.coordinates') %>:</strong>
          <%= [@store.latitude, @store.longitude].compact.join(', ') %>
        </p>
      </div>
    </div>
  </div>
</div>
