<% content_for :title do %>
<%= t('views.shared.log_in') %>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="form-group">
      <%= f.label :email, class: 'required' %>
      <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'required' %>
      <%= f.password_field :password, required: true, autocomplete: "current-password", class: 'form-control' %>
      <div class="form-text">
        <%- if devise_mapping.recoverable? %>
        <%= link_to t('views.devise.sessions.forgot_password'), new_password_path(resource_name), class: 'd-block' %>
        <% end %>
        <%- if devise_mapping.confirmable? %>
        <%= link_to t('views.devise.sessions.resend_confirmation_instructions'), new_user_confirmation_path, class: 'd-block mt-2' %>
        <% end %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="form-group mt-4">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :remember_me, class: 'custom-control-input' %>
        <%= f.label :remember_me, class: 'custom-control-label' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <div class="form-group">
      <%= f.submit t('views.shared.log_in'), class: 'btn btn-block btn-secondary' %>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <div class="form-group">
      <%- if devise_mapping.registerable? %>
      <%= link_to t("views.shared.register"), new_registration_path(resource_name), class: 'btn btn-block btn-link' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>