<% content_for :title do %>
<%= t('views.shared.user_details') %>
<% end %>

<%= form_for(@user, url: admin_user_path(@user), class: 'mt-5') do |f| %>
<%= render partial: 'form', locals: { f: f } %>

<div class="form-group mt-5">
  <%= f.submit t('views.shared.save'), class: "btn btn-block btn-black" %>
</div>

<% if can? :destroy, @user %>
<div class="form-group mt-3">
  <%= link_to t('views.shared.delete'), admin_user_path(@user), method: :delete, data: { confirm: t('views.shared.delete_user_confirmation') }, class: 'btn btn-block btn-danger mt-2' %>
</div>
<% end %>
<% end %>