<% content_for :page_title, t('views.shared.users') %>

<% content_for :title do %>
<%= t('views.shared.users') %>
<% end %>

<% if can? :new, User %>
<% content_for :title_options do %>
<%= link_to t('views.shared.new_user'), new_admin_user_path, class: 'btn btn-primary px-md-5' %>
<% end %>
<% end %>

<%= form_tag admin_users_path, method: :get do %>
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <%= select_tag :validated, options_for_select([[t('views.admin.users.approved'), true], [t('views.admin.users.not_approved'), false]], params[:validated]), { include_blank: t('views.admin.users.all_states'), class: 'custom-select', 'aria-label': t('views.admin.users.state') }%>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <%= select_tag :role, options_for_select(enum_options_for_select(User, :role), params[:role]), { include_blank: t('views.admin.users.all_roles'), class: 'custom-select', 'aria-label': t('views.admin.users.role') }%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <%= label_tag :search, t('views.shared.search'), class: 'sr-only' %>
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t('views.admin.users.search_by_name') %>
    </div>
  </div>
</div>
<div class="form-group">
  <%= submit_tag t('views.shared.search'), class: 'btn btn-black px-md-5' %>
</div>
<% end %>

<div class="mt-5">
  <%= render 'table', users: @users %>
</div>