<% content_for :title do %>
<%= t('views.shared.user_details') %>
<% end %>

<%= form_for(@user, url: admin_user_path(@user), class: 'mt-5') do |f| %>
<%= render partial: 'form', locals: { f: f } %>

<div class="form-group mt-5">
  <% if can? :edit, @user %>
  <%= link_to t('views.shared.edit'), edit_admin_user_path(@user), class: 'btn btn-block btn-black' %>
  <% end %>
  <% if can? :destroy, @user %>
  <%= link_to t('views.shared.delete'), admin_user_path(@user), method: :delete, data: { confirm: t('views.shared.delete_user_confirmation') }, class: 'btn btn-block btn-danger mt-2' %>
  <% end %>
</div>
<% end %>